<!DOCTYPE html>
<html>
    <head>
        <link href="./../static/styles/style.css" type="text/css" rel="stylesheet">
        <title>Adam Gaffney's Resume</title>
        <link href="./../static\images\Adam Gaffney Logo.jpg" type="img/jpg" rel="icon">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="./">About Me</a></li>
                <li><a href="./experience.html">Work Experience</a></li>
                <li><a href="./education.html"><u>Education</u></a></li>
                <li><a href="./portfolio.html">Portfolio</a></li>
                <li><a href="./contact.html">Contact Me</a></li>
            </ul>
        </nav>
        <main>
            <section>
                <article class="description_experience">
                    <h1>
                        Education
                    </h1>
                    <p>
                        Here you can find all my current and previous education.
                    </p>
                </article>
            </section>
            <h2><u>Current Education</u></h2>
            <section>
                <article class="education" id="coding">
                    <button type="button" class="collapsible">Codecademy</button>
                    <div class="collapsible_content">
                        <br>
                        <h3>Date Started: </h3>
                        <p>15<sup>th</sup> August 2019</p>
                        <br><br>
                        <label for="courses" class="response_label"><h3>Courses</h3></label>
                        <ul id="courses">
                            <li>Learn C#</li>
                            <li>Learn R</li>
                            <li>Learn Python</li>
                            <li>Data Analysis with Pandas</li>
                            <li>SQL: Table Transformation</li>
                        </ul>
                    </div>
                </article>
            </section>
            <h2><u>Completed Education</u></h2>
            <section>
                <article class="education" id="coding">
                    <button type="button" class="collapsible">University of Strathclyde</button>
                    <div class="collapsible_content">
                        <br>
                        <label for = 'courses' class = 'response_label'><h3>Courses</h3></label>
                        <ul id="courses">
                            <li><strong>Bsc-Hons</strong> Mathematics
                            <ul style="list-style: none;">
                                <li>Date Started: 23<sup>rd</sup> September 2016</li>
                                <li>Date Completed: 26<sup>th</sup> June 2019</li>
                            </ul>
                            </li>
                            <li><strong>CertHE</strong> Chemical Engineering</li>
                            <ul style="list-style: none;">
                                <li>Date Started: 23<sup>rd</sup> September 2013</li>
                                <li>Date Completed: 22<sup> </sup> June 2015</li>
                            </ul>
                        </ul>
                    </div>
                </article>
                <article class="education" id="coding">
                    <button type="button" class="collapsible">Codecademy</button>
                    <div class="collapsible_content">
                        <br>
                        <h3>Date Started: </h3>
                        <p>15<sup>th</sup> August 2019</p>
                        <br><br>
                        <label for="courses" class="response_label"><h3>Courses</h3></label>
                        <ul id="courses">
                            <li>Learn C++</li>
                            <li>Learn Javascript</li>
                            <li>Learn HTML</li>
                        </ul>
                    </div>
                </article>
                <article class="education" id="coding">
                    <button type="button" class="collapsible">Excel With Business</button>
                    <div class="collapsible_content">
                        <br>
                        <h3>Date Started: </h3>
                        <p>15<sup>th</sup> August 2019</p>
                        <br><br>
                        <label for="courses" class="response_label"><h3>Courses</h3></label>
                        <ul id="courses">
                            <li>Learn Advanced Excel</li>
                            <li>Business Analysis</li>
                        </ul>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <p id = "changer">This website is a WIP for Adam Gaffney. This is not definitive and will regularly change.</p>
        </footer>
    </body>
    <script src="./../static/js/resume.js"></script>
</html>