<!DOCTYPE html>
<html>
    <head>
        <link href="./../static/styles/style.css" type="text/css" rel="stylesheet">
        <title>Adam Gaffney's Resume</title>
        <link href="./../static\images\Adam Gaffney Logo.jpg" type="img/jpg" rel="icon">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="./">About Me</a></li>
                <li><a href="./experience.html"><u>Work Experience</u></a></li>
                <li><a href="./education.html">Education</a></li>
                <li><a href="./portfolio.html">Portfolio</a></li>
                <li><a href="./contact.html">Contact Me</a></li>
            </ul>
        </nav>
        <main>
            <section>
                <article class="description_experience">
                    <h1>
                        Work Experience
                    </h1>
                    <p>
                        Here you can find all my current and previous work experience.
                    </p>
                </article>
            </section>
            <h2><u>Current Employment</u></h2>
            <section>
                <article class="experience" id="nhs_dmo">
                    <button type="button" class="collapsible">NHS Scotland</button>
                    <div class="collapsible_content">
                        <div class = "top-info">
                            <br>
                            <h3>Job Title: </h3>
                            <p>Data Management Officer</p>
                            <br>
                            <br>
                            <h3>Date Started: </h3>
                            <p class = 'start-date'>3<sup>rd</sup> February 2020</p>
                        </div>
                        <br><br>
                        <label for="responsibilities" class="response_label"><h3>Regular Responsibilities</h3></label>
                        <ul id="responsibilities">
                            <li>Managing national datasets by keeping them up to date and keeping the data clean</li>
                            <li>Provide backup for the running of the Antimicrobial Resistance (AMR) Alerts, so that I can carry out the work should the main person be off</li>
                            <li>Take care of and maintain the quarterly reporting data for MDRO screenings</li>
                            <li>Assist in any reactive upcoming work in the SONAAR team</li>
                            <li>Take part in managing data for the ARHAI annual report</li>
                        </ul>
                        <label for = 'achievements' class = 'response_label'><h3>Extra Achievements</h3></label>
                        <ul id = achievements>
                            <li>Created interative summary sheet for a case note review</li>
                            <li>Worked on the COVID 19 outbreak response team</li>
                            <li>Designed, built and launched a nationwide tool for hospital outbreak reporting, including COVID-19.</li>
                            <li>Created several fully automated R scripts for COVID 19 response work and also internal team work</li>
                            <li>Working on creating an R package/library for use in the ARHAI group to solve common problems (e.g. fixing CHI numbers with 0 removed at front)</li>
                            <li>Helping other members of the team with Excel and R requests, becoming the go-to person for issues related to R or Excel</li>
                        </ul>
                    </div>
                </article>
            </section>
            <h2><u>Previous Employment</u></h2>
            <section>
                <article class="experience" id="ikea">
                    <button type="button" class="collapsible">IKEA Glasgow</button>
                    <div class="collapsible_content">
                        <div class="top-info">
                            <br>
                            <h3>Job Title: </h3>
                            <p>Full Serve Co-worker</p>
                            <br>
                            <br>
                            <h3>Date Started: </h3>
                            <p class = 'start-date'>23<sup>rd</sup> April 2016</p>
                            <br>
                            <br>
                            <h3>Date Finished: </h3>
                            <p class = 'end-date'>20<sup>th</sup> January 2020</p>
                        </div>
                        <br><br>
                        <label for="responsibilities" class="response_label"><h3>Regular Responsibilities</h3></label>
                        <ul id="responsibilities">
                            <li>Pick orders for customers in a safe and timely fashion</li>
                            <li>Checking stock levels to keep them as accurate as possible, ensuring all customers can receive ordered goods</li>
                            <li>Keeping the warehouse clean and tidy, to boost efficiency and also promote recycling</li>
                            <li>Mentor-Certified Reach forklift truck licence, for dropping pallets for orders and restocking</li>
                            <li>Helping customers find the stock they need and answering general questions</li>
                            <li>Due to seniority, given more important tasks and left in charge of warehouse regularly</li>
                            <li>Expert knowledge of the Tornado Storage System</li>
                            <li>Often a significant point of contact for other co-workers to answer their questions and help them out</li>
                        </ul>
                        <label for = 'achievements' class = 'response_label'><h3>Extra Achievements</h3></label>
                        <ul id = achievements>
                            <li>Implemented a reshuffle of the full warehouse which optimised picking times and improved our whole service operation</li>
                            <li>Came up with the idea of a 'dynamic warehouse', leading to regular shuffling of the stock based on popularity and sales, which reduced picking times and optimised the warehouse layout</li>
                            <li>Wrote a full useage guide for the Tornado Storage System and distributed this throughout the store, including full tutorial and also error troubleshooting guide</li>
                            <li>Created several Excel documents detailing different aspects of the warehouse, allowing for quick calculations and tracking of local data</li>
                            <li>Trained up several members of staff using my Excel knowledge so that the spreadsheets could be maintained after my leaving the company</li>
                        </ul>
                    </div>
                </article>
                <article class="experience" id="ikea">
                    <button type="button" class="collapsible">Cineworld Cinemas</button>
                    <div class="collapsible_content">
                        <div class="top-info">
                            <br>
                            <h3>Job Title: </h3>
                            <p>Floor Team Member</p>
                            <br>
                            <br>
                            <h3>Date Started: </h3>
                            <p class = 'start-date'>1<sup>st</sup> November 2015</p>
                            <br>
                            <br>
                            <h3>Date Finished: </h3>
                            <p class = 'end-date'>12<sup>th</sup> January 2016</p>
                        </div>
                        <br><br>
                        <label for="responsibilities" class="response_label"><h3>Regular Responsibilities</h3></label>
                        <ul id="responsibilities">
                            <li>Check tickets and identification for customers</li>
                            <li>Restocking snacks on floor and behind snack desk</li>
                            <li>Answering customer questions</li>
                            <li>Cleaning out screens between movies, to ensure a good customer experience for all</li>
                            <li>Checking for possible piracy violations during release of the new Star Wars movie</li>
                            <li>Use of compactor to deal with trash</li>
                            <li>Often had to manage time properly, as it was a very busy time for the cinema</li>
                        </ul>
                        <label for = 'achievements' class = 'response_label'><h3>Extra Achievements</h3></label>
                        <ul id = achievements>
                            <li>Helped to deal with 200 angry customers when one of the sold out screenings of Star Wars: The Force Awakens stopped working</li>
                        </ul>
                    </div>
                    </article>
                    <article class="experience" id="ikea">
                        <button type="button" class="collapsible">Disney Store</button>
                        <div class="collapsible_content">
                            <div class = "top-info">
                                <br>
                                <h3>Job Title: </h3>
                                <p>Stockroom Assistant</p>
                                <br>
                                <br>
                                <h3>Date Started: </h3>
                                <p class = 'start-date'>1<sup>st</sup> November 2013</p>
                                <br>
                                <br>
                                <h3>Date Finished: </h3>
                                <p class = 'end-date'>12<sup>th</sup> January 2014</p>
                            </div>
                            <br><br>
                            <label for="responsibilities" class="response_label"><h3>Regular Responsibilities</h3></label>
                            <ul id="responsibilities">
                                <li>Experience of working in an incredibly busy environment</li>
                                <li>Was responsible for taking in deliveries and packing the stockrooms</li>
                                <li>One of only three people to move all the stock from two stockrooms to one large stockroom</li>
                                <li>Also helped out customers when on shop floor</li>
                                <li>Restocked the store after closing</li>
                                <li>Kept inventory of all the stock in the warehouse, knowing their locations and how many we had to best meet customer needs</li>
                            </ul>
                            <label for = 'achievements' class = 'response_label'><h3>Extra Achievements</h3></label>
                            <ul id = 'achievements'>
                                <li>Helped to change over the 2 smaller stockrooms into one large stockroom</li>
                                <li>Worked a night shift to get the new stockroom organised in a timely manner</li>
                            </ul>
                        </div>
                        </article>
                    </section>
            </section>
        </main>
        <footer>
            <p id = "changer">This website is a WIP for Adam Gaffney. This is not definitive and will regularly change.</p>
        </footer>
    </body>
    <script src="./../static/js/resume.js"></script>
</html>