body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#0e387d, #4f88e4);
    margin: 0 25%;
    margin-bottom: 20px;
    padding: 10px;
    min-height: 90vh;
    transition: margin 500ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* media queries for body margin resizing */
@media screen and (max-width: 1700px) {
    body {
        margin: 0 23%;
        transition: margin 500ms;
    }
}

@media screen and (max-width: 1600px) {
    body {
        margin: 0 21%;
        transition: margin 500ms;
    }
}

@media screen and (max-width: 1500px) {
    body {
        margin: 0 19%;
        transition: margin 500ms;
    }
}

@media screen and (max-width: 1400px) {
    body {
        margin: 0 17%;
        transition: margin 500ms;
    }
}

@media screen and (max-width: 1300px) {
    body {
        margin: 0 15%;
        transition: margin 500ms;
    }
}

@media screen and (max-width: 1200px) {
    body {
        margin: 0 13%;
        transition: margin 500ms;
    }
}

@media screen and (max-width: 1100px) {
    body {
        margin: 0 11%;
        transition: margin 500ms;
    }
}

@media screen and (max-width: 1000px) {
    body {
        margin: 0 9%;
        transition: margin 500ms;
    }
}

@media screen and (max-width: 900px) {
    body {
        margin: 0 7%;
        transition: margin 500ms;
    }
}

.intro::-webkit-scrollbar {
  display: none;
}

main::-webkit-scrollbar {
  display: none;
}

nav {
    background-color: #0e387d;
    box-shadow: 2px 2px #00000066;
    text-align: center;
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-flex;
}

nav li a {
    color: white;
    padding: 17px;
    text-decoration: none;
    font-size: 22px;
    transition: 0.4s;
}

nav li a:hover {
    background: #1c5abd;
    border-radius: 4px;
    transition-duration: 300ms;
}

#hamburger {
    width: 50px;
    height: 40px;
    margin: 0 auto;
    padding-top: 4px;
    cursor: pointer;
}

#hamburger:hover {
    background: #1c5abd;
    border-radius: 4px;
    transition-duration: 300ms;
}

#hamburger-nav {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    float: left;
    background-color: #0e387d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: max-height 0.3s ease-out;
}

#hamburger-nav ul {
    margin: 0;
    padding: 0;
}

#hamburger-nav li {
    display: flex;
    width: 100%;
    flex-wrap: none;
}

#hamburger-nav li a {
    color: white;
    width: 100%;
    padding: 17px;
    text-decoration: none;
    font-size: 22px;
    transition: 0.4s;
}

#hamburger-nav li a:hover {
    background: #1c5abd;
    width: 100%;
    border-radius: 4px;
    transition-duration: 300ms;
}

.line {
    background-color: white;
    height: 2px;
    width: 30px;
    margin: 0 auto;
    margin-top: 8px;
    z-index: 9999;
}

/* media query for hamburger menu */
@media screen and (max-width: 804px), screen and (orientation: portrait) {
    nav {
        display: none;
    }

    #hamburger {
        display: inline-block;
    }
}

main {
    align-self: center;
    padding: 50px 5px 0 5px;
    background-color: #bfc9e9;
    min-height: 89vh;
    overflow: scroll;
}

.main_figure {
    float: left;
    height: 340px;
    width: 320px;
    border: 1px solid black;
    box-shadow: -2px -2px #00000066;
    margin: 0px;
    margin-right: 5px;
    margin-top: 10px;
}

@media screen and (max-width: 714px), screen and (orientation: portrait) {
    main {
        padding-top: 30px;
    }
    .main_figure {
        float: none;
        margin: 0 auto;
    }   
}

.intro {
    display: table;
}

.intro tr {
    text-align: center;
}

.who {
    display: inline-block;
}

h1, h2, h3{
    color: #1c5abd;
    margin-top: 10px;
}

h1 {
    font-size: 26px;
    text-align: center;
    border-bottom: #0e387d solid 2px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h3 {
    display: inline-block;
    margin: 0;
}

.intro table {
    margin-top: 10px;
}

.intro th {
    text-align: left;
}

.intro td {
    text-align: left;
}

p {
    display: inline-block;
    margin: 0px;
}

.intro ul {
    display: inline-table;
    margin-top: 0px;
    margin-left: -40px;
    margin-bottom: 0px;
    list-style-type: none;
}

.collapsible {
    display: inline-flex;
    color: #ffffff;
    border-radius: 4px 4px 0 0;
    font-size: 24px;
    background-color: #0e387d;
    cursor: pointer;
    margin: 5px 0 0 0;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    border: 1px solid black;
    outline: none;
    justify-content: space-between;
}

.collapsible ul {
    padding: 0px;
}

.collapsible::after {
    content: "+";
    font-size: 24px;
    text-align: center;
}

.active::after {
    content: "-";
    font-size: 24px;
    text-align: center;

}

.collapsible_content {
    overflow: hidden;
    max-height: 0;
    background-color: #bfc9d9;
    transition: max-height 0.5s ease-out;
}

.collapsible_content ul li {
    padding: 3px;
}

.top-info {
    padding: 0 9px;
}

.description_experience {
    font-size: 20px;
}

.response_label {
    border-top: 3px solid #0e387d;
    border-left: 3px solid #0e387d;
    border-right: 3px solid #0e387d;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}

#responsibilities {
    border-top: 3px solid #0e387d;
    border-bottom: 3px solid #0e387d;
    margin: 0;
    margin-bottom: 20px;
}

#achievements {
    border-top: 3px solid #0e387d;
    border-bottom: 3px solid #0e387d;
    margin: 0;
}

#courses {
    border-top: 3px solid #0e387d;
    border-bottom: 3px solid #0e387d;
    margin: 0;
}

footer {
    background-color: #0e387d;
    color: white;
    text-align: center;
    background-size: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

footer p {
    padding-top: 5px;
    height: 3vh;
}

@media screen and (max-width: 720px) {
    footer p {
        height: 5vh;
    }
}

@media screen and (max-width: 378px) {
    footer p {
        height: 7vh;
    }
}

@media screen and (max-width: 267px) {
    footer p {
        height: 9vh;
    }
}

@media screen and (max-width: 201px) {
    footer p {
        height: 11vh;
    }
}

.fadeOut{
    display: block;
    visibility: hidden;
    opacity: 0; 
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  
  .fadeIn{
    display: block;
    visibility: visible;
    opacity: 100; 
   -webkit-transition: all 1s ease-out;
         -moz-transition: all 1s ease-out;
          -ms-transition: all 1s ease-out;
           -o-transition: all 1s ease-out;
              transition: all 1s ease-out;
  }
  